* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  color: #143039;
}

.section {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #fef4e7;
  justify-content: space-evenly;
}

.main {
  margin: auto;
  line-height: 2em;
}

.title {
  font-size: 2.75em;
  line-height: 1.3em;
}

.landingActions {
  width: 66%;
}

.image {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #edf7ce;
  padding: 3.4em;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
