* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  color: #143039;
}

.section {
  display: flex;
  flex-direction: row;
  height: 88vh;
  background-color: #fef4e7;
  justify-content: space-around;
}

.main {
  margin: auto;
  line-height: 2em;
}

.title {
  width: 15em;
  font-size: 2.75em;
  line-height: 1.3em;
}

.landingActions {
  margin: auto;
  line-height: 1.5em;
}

@media screen and (max-width: 414px) {
  .section {
    display: flex;
    flex-direction: column;
    background-color: #143039;
  }
  .title {
    color: white;
    font-size: 2em;
    width: 77%;
  }
  .desc {
    display: none;
    /* font-size: 0.8em;
    color: white; */
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .image {
    display: none;
  }
  .landingActions {
    background-color: #143039;
    padding: 1em;
    margin: 10%;
    border-radius: 10px;
  }
}
